# Ignore all files with these extensions
*.pbs
*.txt
*.csv
#*.png
*.wig
*.bigWig
*.bed
*.zip
*.xlsx
*.bed.gz
*.gz
*.xml
*.2bit
*.o
*.e

# Ignore folder named 'venv'
venv/
old/
donotcopy_noneed_lib/
extrasourcecode/
input/
output/
lib/
build/
dist/
__pycache__/
SigProfilerTopography.egg-info/
.idea
.DS_Store
