include SigProfilerTopography/source/commons/TopographyCommons.py
include SigProfilerTopography/source/commons/*
include SigProfilerTopography/source/nucleosomeoccupancy/*
include SigProfilerTopography/source/replicationtime/*
include SigProfilerTopography/source/replicationstrandbias/*
include SigProfilerTopography/source/transcriptionstrandbias/*
include SigProfilerTopography/source/processivity/*
include SigProfilerTopography/source/plotting/*
include SigProfilerTopography/lib/ucscgenome/hg19ChromSizesDict.txt
include SigProfilerTopography/lib/ucscgenome/hg38ChromSizesDict.txt
include SigProfilerTopography/lib/replication/GSM923442_hg19_wgEncodeUwRepliSeqMcf7PkRep1.bed
include SigProfilerTopography/lib/replication/GSM923442_hg19_wgEncodeUwRepliSeqMcf7ValleysRep1.bed
include SigProfilerTopography/lib/replication/GSM923442_hg19_wgEncodeUwRepliSeqMcf7WaveSignalRep1.wig
include SigProfilerTopography/lib/epigenomics/ENCFF065FJK_H3K9me3_breast_epithelium.bed
include SigProfilerTopography/lib/epigenomics/ENCFF065TIH_H3K4me3_breast_epithelium.bed
include SigProfilerTopography/lib/epigenomics/ENCFF154XFN_H3K27ac_breast_epithelium.bed
include SigProfilerTopography/lib/epigenomics/ENCFF291WFP_H3K27me3_breast_epithelium.bed
include SigProfilerTopography/lib/epigenomics/ENCFF336DDM_H3K4me1_breast_epithelium.bed
include SigProfilerTopography/lib/epigenomics/ENCFF906MJM_H3K36me3_breast_epithelium.bed
