include SigProfilerTopography/version.py
include SigProfilerTopography/source/commons/TopographyCommons.py
include SigProfilerTopography/source/commons/*
include SigProfilerTopography/source/occupancy/*
include SigProfilerTopography/source/replicationtime/*
include SigProfilerTopography/source/replicationstrandbias/*
include SigProfilerTopography/source/transcriptionstrandbias/*
include SigProfilerTopography/source/processivity/*
include SigProfilerTopography/source/plotting/*
include SigProfilerTopography/source/annotation/*
include SigProfilerTopography/source/annotatedregion/*
include SigProfilerTopography/lib/md5.txt
include SigProfilerTopography/lib/ucscgenome/hg19ChromSizesDict.txt
include SigProfilerTopography/lib/ucscgenome/hg38ChromSizesDict.txt
include SigProfilerTopography/lib/ucscgenome/mm9ChromSizesDict.txt
include SigProfilerTopography/lib/ucscgenome/mm10ChromSizesDict.txt
include SigProfilerTopography/lib/replication/GSM923442_hg19_wgEncodeUwRepliSeqMcf7PkRep1.bed
include SigProfilerTopography/lib/replication/GSM923442_hg19_wgEncodeUwRepliSeqMcf7ValleysRep1.bed
include SigProfilerTopography/lib/replication/GSM923442_hg19_wgEncodeUwRepliSeqMcf7WaveSignalRep1.wig
include SigProfilerTopography/lib/replication/ENCFF001JVQ_mm10_embryonic_fibroblast_wavelet_smoothed_signal.wig
include SigProfilerTopography/lib/epigenomics/ENCFF065FJK_breast_epithelium_H3K9me3.bed
include SigProfilerTopography/lib/epigenomics/ENCFF065TIH_breast_epithelium_H3K4me3.bed
include SigProfilerTopography/lib/epigenomics/ENCFF154XFN_breast_epithelium_H3K27ac.bed
include SigProfilerTopography/lib/epigenomics/ENCFF291WFP_breast_epithelium_H3K27me3.bed
include SigProfilerTopography/lib/epigenomics/ENCFF336DDM_breast_epithelium_H3K4me1.bed
include SigProfilerTopography/lib/epigenomics/ENCFF906MJM_breast_epithelium_H3K36me3.bed
include SigProfilerTopography/lib/epigenomics/ENCFF782GCQ_breast_epithelium_Normal_CTCF-human.bed
include SigProfilerTopography/lib/epigenomics/ENCFF367LMT_GRCh38_lower-lobe-of-left-lung_H3K27me3-human.bed
include SigProfilerTopography/lib/epigenomics/ENCFF908EUN_GRCh38_lung_H3K4me1-human.bed
include SigProfilerTopography/lib/epigenomics/ENCFF846LAZ_GRCh38_left-lung_H3K27ac-human.bed
include SigProfilerTopography/lib/epigenomics/ENCFF185EKW_GRCh38_left-lung_H3K9me3-human.bed
include SigProfilerTopography/lib/epigenomics/ENCFF078AMJ_GRCh38_upper-lobe-of-left-lung_H3K36me3-human.bed
include SigProfilerTopography/lib/epigenomics/ENCFF069GQK_GRCh38_lung_H3K4me3-human.bed
include SigProfilerTopography/lib/epigenomics/ENCFF061UVF_GRCh38_upper-lobe-of-left-lung_CTCF.bed
include SigProfilerTopography/lib/epigenomics/ENCFF152DUV_mm10_embryonic_fibroblast_POLR2A.bed
include SigProfilerTopography/lib/epigenomics/ENCFF993SRY_mm10_embryonic_fibroblast_H3K4me1.bed
include SigProfilerTopography/lib/epigenomics/ENCFF912DNP_mm10_embryonic_fibroblast_H3K4me3.bed
include SigProfilerTopography/lib/epigenomics/ENCFF114VLZ_mm10_embryonic_fibroblast_H3K27ac.bed
include SigProfilerTopography/lib/epigenomics/ENCFF611HDQ_mm10_embryonic_fibroblast_CTCF.bed
